#main {
	margin: auto;
	text-align: center;
	font-family: Arial;
	color: white;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.hyperlink {
	text-align: center;
	font-family: Arial;
	color: white;
	background-color: #1c1c1c;
	padding: 4px;
	user-select: none;
	text-decoration: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#href-container {
	display: block;
	margin: 0 auto;
}

canvas {
	display: block;
	margin: 0 auto;
}

body {
	background-color: black;
}
