#main {
	margin: auto;
	text-align: center;
	font-family: Arial;
	color: white;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.hyperlink {
	margin: auto;
	text-align: center;
	font-family: Arial;
	color: white;
	margin: 0 auto;
	display: block;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

canvas {
	display: block;
	margin: 0 auto;
}

body {
	background-color: black;
}
