#main {
	margin: auto;
	text-align: center;
	font-family: Arial;
	color: white;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body {
	background-color: black;
}